<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title ng-if="$state.current.name === 'index' || $state.current.name === 'otherwise' ">Banderoo</title>
    <title ng-if="$state.current.name != 'index'">Banderoo • {{ $state.current.data.title }}</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="initial-scale=1.0001, minimum-scale=1.0001, maximum-scale=1.0001, user-scalable=no"/>
    <meta property="og:url" content="http://mybanderoo.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Banderoo" />
    <meta property="og:description" content="Need a band name? Banderoo makes naming your band easy. And fun!" />
    <meta property="og:image" content='<%= image_url('facebook_share_image_square.png') %>' />
    <%= render 'layouts/google_tag_manager_head' %>
    <%= render 'layouts/google_analytics' %>
    <%= render 'application/favicon' %>

  </head>

  <body ng-class="[$state.current.data.bgColorClass, $state.current.data.bgImgClass]" class="bg-img">
    <%= render 'layouts/google_tag_manager_body' %>
      <div class="container">
        <%= render 'layouts/notices' %>
        <%#= yield %>

        <ui-view class="row justify-content-center"></ui-view>

      </div>
  </body>
</html>
